# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

data/*.csv
data/*.sqlite
data/*.json

# IDEs and Editors
.vscode/
.idea/
*.swp

# Poetry
.python-version

# Environment variables
.env
.env.*
